@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../libs/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot');
    src: url('../libs/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html, body {
  max-width: 100%;
	max-height: 100%;
	background-color: #ebe9d7;
}


/*Media query behaviour*/

/* Decreasing enterprise name and search bar font size  */
@media only screen and (max-width: 650px){
    .enterpItem__name
    {
      font-size: 18px !important;
    }
    .searchBarContainer
    {
      font-size: 20px !important;
    }

 }
/* Rearranging the enterprise item when screen size decreases  */
@media only screen and (max-width: 500px){
    
    .enterpItem__imgContainer
    {
      float:clear !important;
      display:block !important;
      width: 100% !important;
    }
    .enterpItem__infoContainer
    {
      margin-left: 0px !important;
    }
    .enterpItem__imgContainer-letter
    {
      text-align: center !important;
    }
 }
/* Decreasing image and size in enterprise detail page  */
@media only screen and (max-width: 500px){ 
   .enterpDetailLayout__imgContainer
   {
      font-size:10px !important;
      padding-right: 40px !important;

   }
   .enterpDetailLayout__imgContainer-letter
   {
      font-size:10px !important;

   }

 }
/* Decreasing font size in Enterprise detail page */
@media only screen and (max-width: 750px){ 
    .enterpDetailLayout__text
    {
      font-size: 16px !important;
    }
 }
/* Increasing spacing and decreasing font size of alert login text in login page */
@media only screen and (max-width: 620px){
    
    .alertTextLogin:
    {
      font-size: 12px !important;
    }
    .loginLayout
    {
      margin: 55px auto 15px !important; 
    }
}
/* Decreasing size of login layout when screen size is too small */
@media only screen and (max-width: 380px){
    
    .loginLayout__password
    {
      width:200px !important;
    }
    .loginLayout__user
    {
      width:200px !important;
    }
    .loginLayout__button
    {
      width:200px !important;
    }
    .loginLayout__welcome
    {
      font-size: :18px !important;
    }
    .loginLayout__message
    {
      font-size: 16px !important;
      width:200px !important;
    }
    .loginLayout__logo
    {
      width:270px !important;
      height:47px !important;
    }

}

/*Glyphicons*/
.glyphicon-search
{
  font-size: 24px;
  bottom:10px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/*Alert Texts*/
.alertTextLogin
{
  text-align: center;
}
.alertTextSearch
{
  margin: 5px 0 5px;
  text-align: center;
}
.alertDefaultText
{
  margin: 5px 0 5px;
  text-align: center;
}

/*Login Page*/

.loginLayout
{
	  background-color: #ebe9d7;
    margin: 15px auto 15px; 
    position: absolute; 
    top: 50%; left:0; right:0;
    transform: translateY(-50%);
    display: inline-block;
}
.loginLayout__form
{
  margin:0 auto;
	display:block;
}

.loginLayout__message {
	width: 350px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
  margin: 0 auto 1.5em;
}

.loginLayout__logo {
	width: 295px;
	height: 72px;
	object-fit: contain;
	display:block;
	margin: 0 auto;
}

.loginLayout__welcome {
	width: 176px;
	height: 64px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #383743;
  margin: 0 auto;
}

.loginLayout__user {
	background: transparent;
	border: none;
	width: 351px;
  margin:0 auto 1.5em;
  display:block;
 	border-bottom: solid 0.7px #383743;
}

.loginLayout__password {
	background: transparent;
	width: 351px;
	border:none;
  margin: 0 auto 1.5em;
  display:block;
 	border-bottom: solid 0.7px #383743;
}

.loginLayout__button {
	width: 324px;
	height: 52.8px;
	border-radius: 3.6px;
	background-color: #57bbbc;
  margin: 0 auto;
  display: block;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

/* Search Page */

.searchBarContainer
{
  padding-top: 1px;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.searchBarContainer__input
{
	background: transparent;
	border: none;
	width: 90%;
  display:block;
 	border-bottom: solid 0.7px #ffffff;
 	position:absolute;
 	bottom: 10px;
  text-indent: 50px;
}
.navbar
{
	background-color: #ee4c77;
	background-image:
    linear-gradient(
      #ee4c77, #d83862
    );
    margin-bottom: 0px;
}
.enterpItem
{
	background-color: #fcfcfc;
  padding: 15px 20px 30px 20px;
	margin: 35px 0px 35px;
}

.enterpItem:hover
{
  cursor: pointer;
}

.enterpItem__imgContainer
{
  display: inline-block;
  padding: 10px 80px 10px 80px;
  float:left;
}

.enterpItem__imgContainer-letter
{
  font-family: Roboto;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  display:block;
  color:#ffffff;
}
.enterpItem__infoContainer
{
  margin-left:25px;
  display:inline-block;
}
.enterpItem__name
{
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a0e49;
  margin-bottom:1px;
}
.enterpItem__business
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 1px;
  text-align: left;
  color: #8d8c8c;
}
.enterpItem__country
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
  margin:1px;
}

/* Enterprise Detail Page */
.enterpDetailLayout
{
	background:#ffffff;
	display:block;
  margin: 30px 0px 30px;
  padding: 15px;
}
.enterpDetailLayout__imgContainer
{
  display: block;
  padding: 70px 80px 70px 80px;
  margin: 50px 80px 20px 80px;

}
.enterpDetailLayout__imgContainer-letter
{
  font-family: Roboto;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;
}
.enterpDetailLayout__text
{
  font-family: "SourceSansPro", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #8d8c8c;
  justify-content: center;
  padding: 25px 80px 25px 80px;
}

